{% extends "base.html" %}
{% block title %}Forbidden{% endblock %}
{% block content %}
<section id="contact">
  <div class="container">
    <div class="outer">
      <div class="middle">
        <div class="inner">
        <div class="col-md-12 text-center">
            <h2 class="section-heading">403 Error</h2>
                <h3 class="section-heading">Admin Privileges Required to Access Page</h3>
                <hr class="intro-divider">
                <a href="{{ url_for('home.homepage') }}" class="btn btn-xl">
                    <i class="fa fa-home"></i>
                    Home
                </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
{% endblock %}
